<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="active-link">
        <a href="index.html">
          <i class="fa fa-desktop "></i>Dashboard
        </a>
      </li>
      <li>
        <a href="ui.html">
          <i class="fa fa-table "></i> Requested Services
        </a>
      </li>
      <li>
        <a href="blank.html">
          <i class="fa fa-shopping-cart "></i>Requested Products
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pie-chart "></i>Verified Customers
        </a>
      </li>
    </ul>
  </div>

</nav>
