<div id="wrapper">
    <%- partial('./../partials/header.ejs') %>
    <%- partial('./../partials/sidebar.ejs') %>
    <div id="page-wrapper">
        <div class="card left-pane">
        
        </div>
        <div class="card right-pane">
                
        </div>        
    </div>
</div>