<div id="wrapper">
    <%- partial('./../partials/header.ejs') %>
    <%- partial('./../partials/sidebar.ejs') %>
    <div id="page-wrapper">
        <div class="profile-wrapper">
            <div class="user-image-wrapper">
                <div class="default-profile">
                    <img src="/images/user_avatar.svg" alt="">    
                </div>
                <h4>Sanyam Singh</h4>
                <p>sam@gmail.com</p>
            </div>
            <div class="contact-detail">
                <div>
                    <h5>Contact Number</h5>
                    <div><p>9888060002</p></div>
                </div>
            </div>
            <div class="address-detail">
                <h3>Address Details</h3>
                <p> <i class="fa fa-building"></i> <span>3301/3a</span></p>
                <p> <i class="fa fa-road"></i> <span>Pivot Land</span></p>         
                <p> <i class="fa fa-language"></i> <span>Near Central park</span></p>                         
            </div>
        </div>     
    </div>
</div>